$color-primary-bg:			#0078D4;
$color-secondary-bg:		#40587C;

$color-primary-theme:		#0078D4;
$color-secondary-theme:		#4052AB;

$color-danger-text:			#A4262C;
$color-warning-text:		#CA5010;
$color-good-text:			#407855;
$color-negative-text:		black;
$color-positive-text:		white;
