@import '_colors.scss';

$inner-gutter: 40px;

.u-margin {
	&-top {
		margin-top: $inner-gutter;

		&--half {
			margin-top: $inner-gutter / 2;
		}

		&--double {
			margin-top: $inner-gutter * 2;
		}
	}
	&-left {
		margin-left: $inner-gutter;

		&--half {
			margin-left: $inner-gutter / 2;
		}

		&--double {
			margin-left: $inner-gutter * 2;
		}
	}
	&-bottom {
		margin-bottom: $inner-gutter;

		&--half {
			margin-bottom: $inner-gutter / 2;
		}

		&--double {
			margin-bottom: $inner-gutter * 2;
		}
	}
	&-right {
		margin-right: $inner-gutter;

		&--right {
			margin-right: $inner-gutter / 2;
		}


		&--double {
			margin-right: $inner-gutter * 2;
		}
	}
	&-all {
		margin: $inner-gutter;

		&--half {
			margin: $inner-gutter / 2;
		}


		&--double {
			margin: $inner-gutter * 2;
		}
	}
}

.u-padding {
	&-top {
		padding-top: $inner-gutter;
	}
	&-left {
		padding-left: $inner-gutter;
	}
	&-bottom {
		padding-bottom: $inner-gutter;
	}
	&-right {
		padding-right: $inner-gutter;
	}
	&-all {
		padding: $inner-gutter;
	}
}

.u-padding {
	&-top--half {
		padding-top: $inner-gutter / 2;
	}
	&-left--half {
		padding-left: $inner-gutter / 2;
	}
	&-bottom--half {
		padding-bottom: $inner-gutter / 2;
	}
	&-right--half {
		padding-right: $inner-gutter / 2;
	}
	&-all--half {
		padding: $inner-gutter / 2;
	}
}

.u-border {
	border: 1px solid $color-positive-text;

	&__radius {
		border-radius: $inner-gutter / 2;
	}
}

.u-container {

	&__abs {
		position: absolute;
	}

	&__middle {
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.u-pos {
	&__rel {
		position: relative;
	}
}

.u-none-padding {
	padding: 0;
}

.u-full {
	width: 100%;
	height: 880px;

	&__width {
		width: 100%;
	}

	&__height {
		height: 100%;
	}
}

.u-font-size {
	&__xxl {
		font-size: 2em !important;
	}

	&__xl {
		font-size: 1.5em !important;
	}

	&__l {
		font-size: 1.17em !important;
	}

	&__m {
		font-size: 1em !important;
	}

	&__s {
		font-size: .83em !important;
	}

	&_xs {
		font-size: .67em !important;
	}
}