.u-margin {
	&-top {
		margin-top: $inner-gutter;

		&--half {
			margin-top: $inner-gutter / 2;
		}

		&--double {
			margin-top: $inner-gutter * 2;
		}
	}
	&-left {
		margin-left: $inner-gutter;

		&--half {
			margin-left: $inner-gutter / 2;
		}

		&--double {
			margin-left: $inner-gutter * 2;
		}
	}
	&-bottom {
		margin-bottom: $inner-gutter;

		&--half {
			margin-bottom: $inner-gutter / 2;
		}

		&--double {
			margin-bottom: $inner-gutter * 2;
		}
	}
	&-right {
		margin-right: $inner-gutter;

		&--right {
			margin-right: $inner-gutter / 2;
		}


		&--double {
			margin-right: $inner-gutter * 2;
		}
	}
	&-all {
		margin: $inner-gutter;

		&--half {
			margin: $inner-gutter / 2;
		}


		&--double {
			margin: $inner-gutter * 2;
		}
	}
}

.u-padding {
	&-top {
		padding-top: $inner-gutter;
	}
	&-left {
		padding-left: $inner-gutter;
	}
	&-bottom {
		padding-bottom: $inner-gutter;
	}
	&-right {
		padding-right: $inner-gutter;
	}
	&-all {
		padding: $inner-gutter;
	}
}

.u-padding {
	&-top--half {
		padding-top: $inner-gutter / 2;
	}
	&-left--half {
		padding-left: $inner-gutter / 2;
	}
	&-bottom--half {
		padding-bottom: $inner-gutter / 2;
	}
	&-right--half {
		padding-right: $inner-gutter / 2;
	}
	&-all--half {
		padding: $inner-gutter / 2;
	}
}


.u-container {

	&__abs {
		position: absolute;
	}

	&__middle {
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.u-pos {
	&__rel {
		position: relative;
	}
}